* { touch-action: none; }
.o-s-text{
	color:#ff6000;
	font-size: 13px;
}
.o-m-text{
	color:#ff6000;
	font-size: 15px;
}
.o-b-text{
	color:#ff6000;
	font-size: 20px;
}
.gr-b-text{
	color:#07C167;
	font-size: 20px;
}
.gr-s-text{
	color:#07C167;
	font-size: 13px;
}
.g-s-text{
	color:#999;
	font-size: 13px;
}
.g-m-text{
	color:#999;
	font-size: 15px;
}
.dg-s-text{
	color:#666;
	font-size: 13px;
}
.d-b-text{
	color:#333;
	font-size: 20px;
}
.d-m-text{
	color:#333;
	font-size: 15px;
}
.d-s-text{
	color:#333;
	font-size: 13px;
}
.b-s-text{
	color:#fff;
	font-size: 13px;
}
.b-m-text{
	color:#fff;
	font-size: 15px;
}
.bl-m-text{
	color:#3199E8;
	font-size: 15px;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color:#3492E9;
}
.mui-bar-nav{
	background: #3492E9;
}
.mui-bar-nav a,.mui-bar-nav h1,.mui-bar-nav button{
	color: #FFFFFF !important;
}
.mui-bar-nav h1 span{
	font-size: 20px !important;
}
.public-margin-top{
	margin-top: 20px;
}
/*通用蓝色按钮*/
.public-b-btn{
	background-color: #3199E8;
	border: none;
	margin: 0 auto;
	color:#fff;
}
/*通用绿色按钮*/
.public-g-btn{
	background-color: #55D075;
	border: none;
	margin: 0 auto;
	color:#fff;
}
/*通用橙色按钮*/
.public-o-btn{
	background-color: #ff6000;
	border: none;
	margin: 0 auto;
	color:#FD3B3D;
	color:#fff;
}
/*0.5px线*/
.border-line{
	position: relative;
}
.border-line::after{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #F0F0F0;
}
/*改变placeholder文字颜色*/
/*.mui-input-row input::-webkit-input-placeholder{
	color:red
}*/
.btn-block{
	width: 100%;
	font-size: 18px;
}
.link-btn{
	font-size: 13px;
	position: relative;
	top:-10px;
	right: 5px;
}
.yzm-btn{
	position: absolute;
	top:7px;
	right: 15px;
	background-color:#ccc ;
	color:#fff;
	height: 26px;
	line-height: 12px;
}

/*外卖页面*/
.wm-search{
	background-color: #3492E9;
	padding: 0 15px;
}
.wm-search .mui-input-row>input{
	background-color: #FFFFFF;
	border-radius: 0;
}
.wm-bar{
	-webkit-box-shadow:0 0 0;
	box-shadow: 0 0 0;
}
.wm-search .mui-input-row .mui-placeholder .mui-icon-search{
	color:#999;
}
.wm-menu{
	background: #fff;
}
.wm-menu .wm-menu-wrap{
	display: flex;
}
.wm-menu .wm-menu-wrap .wm-menu-dev{
	flex: 1;
	text-align: center;
	padding-top:10px;
}
.wm-menu .wm-menu-wrap .wm-menu-dev span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	color:#fff;
	font-size: 30px;
}
.wm-menu .wm-menu-wrap:nth-child(1) .wm-menu-dev:nth-child(1) span{
	background: #FD3B3D;
}
.wm-menu .wm-menu-wrap:nth-child(1) .wm-menu-dev:nth-child(2) span{
	background: #24C1EC;
}
.wm-menu .wm-menu-wrap:nth-child(1) .wm-menu-dev:nth-child(3) span{
	background: #FD6A3C;
}
.wm-menu .wm-menu-wrap:nth-child(1) .wm-menu-dev:nth-child(4) span{
	background: #54A8FD;
}
.wm-menu .wm-menu-wrap:nth-child(2) .wm-menu-dev:nth-child(1) span{
	background: #3D92E1;
}
.wm-menu .wm-menu-wrap:nth-child(2) .wm-menu-dev:nth-child(2) span{
	background: #07C167;
}
.wm-menu .wm-menu-wrap:nth-child(2) .wm-menu-dev:nth-child(3) span{
	background: #F9891B;
}
.wm-menu .wm-menu-wrap:nth-child(2) .wm-menu-dev:nth-child(4) span{
	background: #F75F97;
}
.wm-menu .wm-menu-wrap .wm-menu-dev p{
	margin-top: 3px;
}
.wm-tj{
	margin-top: 10px;
	background: #FFFFFF;
	display: flex;
}
.wm-tj .wm-tj-l{
	padding: 10px;
	flex: 3;
	border-right: 1px solid #f0f0f0;
}
.wm-tj .wm-tj-l h4{
	color:#FF5407;
}
.wm-tj .wm-tj-l span, .wm-tj .wm-tj-r span{
	color:#999;
	font-size:13px;
}
.wm-tj .wm-tj-l img{
	width:100%;
}
.wm-tj .wm-tj-r{
	flex: 7;
}
.wm-tj .wm-tj-r .wm-tj-r-t{
	display: flex;
	border-bottom: 1px solid #f0f0f0;
	padding:10px;
}
.wm-tj .wm-tj-r .wm-tj-r-t h5{
	color:#9edb50;
}
.wm-tj .wm-tj-r .wm-tj-r-t>div{
	flex: 1;
}
.wm-tj .wm-tj-r .wm-tj-r-t .wm-tj-r-t-r{
	text-align: center;
}
.wm-tj .wm-tj-r .wm-tj-r-t .wm-tj-r-t-r img{
	width: 80%;
}
.wm-tj .wm-tj-r .wm-tj-r-b{
	display: flex;
}
.wm-tj .wm-tj-r .wm-tj-r-b>div{
	flex: 1;
	padding: 10px;
}
.wm-tj .wm-tj-r .wm-tj-r-b .wm-tj-r-b-l{
	border-right: 1px solid #f0f0f0;
}
.wm-tj .wm-tj-r .wm-tj-r-b .wm-tj-r-b-l img, .wm-tj .wm-tj-r .wm-tj-r-b .wm-tj-r-b-r img{
	width:60% ;
	display: block;
	margin: 0 auto;
}
.wm-tj .wm-tj-r .wm-tj-r-b .wm-tj-r-b-l h5{
	color:#f99120;
}
.wm-tj .wm-tj-r .wm-tj-r-b .wm-tj-r-b-r h5{
	color:#ff6b6b;
}
.wm-list{
	background: #FFFFFF;
	margin-top: 10px;
}
.wm-list .wm-list-div{
	display: flex;
	padding:10px;
	overflow: hidden;
	border-bottom: 1px solid #F0F0F0;
}
.wm-list .wm-list-div .wm-list-div-l{
	flex:0 0 80px;
}
.wm-list .wm-list-div .wm-list-div-l img{
	width: 80px;
}
.wm-list .wm-list-div .wm-list-div-r{
	flex: 1;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-o{
	overflow: hidden;
	display: flex;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-o .wm-list-div-r-o-l{
	/*float:left;*/
	flex: 1;
	width: 0;
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding-right: 5px;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-o .wm-list-div-r-o-r{
	/*float: right;*/
	color:#666;
	font-size: 13px;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-o .wm-list-div-r-o-r span:nth-child(2){
	font-size: 18px;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-t {
	overflow: hidden;
}
.wm-list .wm-list-div .wm-list-div-r span{
	font-size: 13px;
}
.star-ya{
	font-size: 13px;
	color:#DDDDDD;
}
.star-active{
	color: #ffaa0c;
	font-size: 13px;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-t .wm-list-div-r-t-r{
	float:right;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-t .wm-list-div-r-t-l{
	float: left;
}
.wm-list .wm-list-div .wm-list-div-r .wm-list-div-r-t .wm-list-div-r-t-r{
	float:right;
}
/*订单*/
.dd-box{
	text-align: center;
}
.dd-box img{
	width: 60%;
}
.dd-box h4{
	color:#6a6a6a;
	font-weight: 400;
}
.dd-box button {
	padding:6px 22px;
}
.dd-wrap .order-ok-list .order-ok-list-t{
	display: flex;
	margin-top: 5px;
	position: relative;
	margin-bottom: 10px;
}
.dd-wrap .order-ok-list .order-ok-list-t::before {
	bottom: 0;
}
.dd-wrap .order-ok-list .order-ok-list-t .order-img{
	flex: 0 0 40px;
	margin-right: 5px;
}
.dd-wrap .order-ok-list .order-ok-list-t .order-img img{
	width:40px;
}
.dd-wrap .order-ok-list .order-ok-list-t .order-info {
	flex: 1;
	position: relative;
	padding-bottom: 8px;
}
.dd-wrap .order-ok-list .order-ok-list-t .order-info h4 span{
	position: relative;
	top:-2px;
	margin-left: 5px;
}
.dd-wrap .order-ok-list .order-ok-list-t .order-info h4{
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
.dd-wrap .order-ok-list .order-ok-list-t .order-info h4:before{
	bottom:0
}
.dd-wrap .order-ok-list .order-ok-list-t .order-info p{
	line-height: 24px;
}
.dd-wrap .order-ok-list .order-ok-list-t .order-info p:nth-child(5) span{
	font-weight: bold;
}
/*我的*/
.home-bar{
	-webkit-box-shadow:0 0 0;
	box-shadow: 0 0 0;
}
.home-div .home-dev-top{
	background-color: #3492E9;
	color:#fff;
	padding:20px;
	display: flex;
	justify-content: space-between;
}
.home-div .home-dev-top .home-dev-top-l{
	display: flex;
}
.home-div .home-dev-top .home-dev-top-l .home-dev-top-phone{
	font-size: 18px;
    vertical-align: middle;
    margin-top: 1px;
}

.home-div .home-dev-top .home-dev-top-l img{
	width:60px;
	border-radius: 50%;
	margin-right:10px;
}
.home-div .home-dev-top .home-dev-top-l .home-dev-top-l-info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.home-div .home-dev-top .home-dev-top-r{
	align-self: center;
}
.home-money{
	display: flex;
	background: #fff;
}
.home-money .home-money-wrap{
	flex: 1;
	text-align: center;
	padding: 15px 10px;
}
.home-money .home-money-wrap:nth-child(2){
	border-right: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
}
.home-money .home-money-wrap span.mui-icon{
	border-radius: 50%;
	padding: 5px;
	margin-bottom: 5px;
	color:#fff;
	font-size: 15px;
}
.home-money .home-money-wrap:nth-child(1) span.mui-icon{
	background: #F9891B;
}
.home-money .home-money-wrap:nth-child(2) span.mui-icon{
	background: #FD3B3D;
}
.home-money .home-money-wrap:nth-child(3) span.mui-icon{
	background: #07C167;
}
.home-money .home-money-wrap p{
	font-weight: 700;
	margin-bottom: 0px;
}
.home-list ul{
	margin-top: 15px;
}
.home-list .list-l-icon{
	margin-right: 5px;
	font-size: 22px;
	color:rgb(74, 165, 240);
}
/*设置*/
.loginout-btn-wrap{
	padding: 0 15px;
}
.loginout-btn{
	width:100%;
}
/*用户信息*/
.user-info .user-img{
	width:30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 20px;
}
/*我的余额*/
.ye-div{
	background-color: #3492E9;
	padding:5px;
}
.ye-bar{
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}
.ye-div-b{
	background: #fff;
	border-radius: 3px;
	padding: 10px;
}
.ye-btn-wrap{
	display: flex;
	margin-top: 10px;
}
.ye-btn-wrap button{
	flex: 1;
}
.ye-btn-wrap button:nth-child(1){
	margin-right: 10px;
}
.ye-div-m{
	margin-top: 15px;
}
.ye-div-m > p{
	padding-left: 10px;
}
.ye-div-m .ye-div-m-div{
	background: #fff;
	padding:20px 10px;
	text-align: center;
}
.ye-div-m .ye-div-m-div span{
	font-size: 25px;
	border: 1px solid #999;
	border-radius: 50%;
	padding: 5px;
	color:#999;
}
.ye-div-m .ye-div-m-div h5{
	margin-top: 20px;
}
.ye-div-b-div{
	background: #fff;
	padding: 10px;
	
}
.ye-div-m .ye-div-b-div>div{
	display: flex;
	justify-content: space-between;
	line-height: 24px;
}
.ye-div-m .ye-div-b-div>div span{
	color:#333;
}
.ye-div-m .ye-div-b-div>div span:nth-child(1){
	font-size: 14px;
}
.ye-div-m .ye-div-b-div .ye-div-b-div-o span:nth-child(2){
	font-size: 13px;
	color:#999;
}
.ye-div-m .ye-div-b-div .ye-div-b-div-t span:nth-child(2){
	font-size: 13px;
	color:#55D075;
}
/*充值*/
.rechange-list{
	display: flex;
	justify-content: space-between;
}
.rechange-list span:nth-child(2){
	margin-right: 20px;
}
/*提现*/
.withdrawal-inf{
	background: #fff;
	padding: 10px 10px 0 10px;
}
.withdrawal-inf input{
	height: 35px;
	background: #F2F2F2;
	font-size: 15px;
}
.withdrawal-sm{
	margin: 10px 0;
	background: #fff;
	padding: 10px;
}
.withdrawal-sm h4{
	font-size: 14px;
	font-weight: normal;
}
.withdrawal-sm p{
	font-size: 13px;
}
.withdrawal-wrap button{
	margin: 20px auto;
	display: block;
	padding:6px 30px;
}
/*选择城市*/
.location-div .location-div-t, .location-div-m{
	padding: 10px 15px;
}
.location-div .location-div-t-wrap{
	display: flex;
	flex-flow: row wrap;
}
.location-div .location-div-t-wrap button{
	margin-right: 10px;
	margin-bottom: 10px;
}
.location-div-b .location-div-b-list > p{
	padding-left: 15px;
	margin-bottom: 0;
	line-height: 30px;
}
.location-div-b-nav{
	position: fixed;
	top:25%;
	right: 3px;
	z-index: 999;
}
.location-div-b-nav > p{
	line-height: 20px;
	margin-bottom: 0;
	text-align: center;
	color:#3199E8;
}
/*发现*/
.discover-div-b-wrap{
	display: flex;
	background: #fff;
}
.discover-div-b{
	flex: 1;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-flow: column wrap;
}
.discover-div-b:nth-child(1){
	border-right: 1px solid #ccc;
}
.discover-div-b h4{
	font-weight: normal;
	font-size: 15px;
}
.discover-div-b p{
	margin-bottom: 0;
	line-height: 20px;
}
.discover-div-b img{
	width: 50%;
}
.discover-div-jf{
	background: #fff;
}
.discover-div-jf p{
	line-height: 20px;
	padding: 10px;
	text-align: center;
}
.discover-div-jf p span{
	margin-left: 5px;
	margin-right: 5px;
}
/*商品详情*/
.product-wrap{
	padding-bottom: 43px!important;
}
.product-wrap img{
	width: 100%;
	vertical-align: top;
}
.product-div {
	background: #fff;
	padding: 10px;
}
.product-div .product-div-price{
	position: relative;
	padding-bottom: 5px;
}
.product-div .product-div-price::before{
	bottom: 0;
}
.product-div .product-div-price h4{
	font-weight: normal;
}
.product-div .product-div-date{
	padding-top: 10px;	
}
.product-info{
	margin-top: 15px;
	padding: 10px;
	background: #fff;
}
.product-wrap button{
	
}
.product-btn{
	padding: 5px;
	position: fixed;
	bottom:0;
	background: #fff;
	width: 100%;
	text-align: center;
}
/*店铺*/
.shop-nav{
	background: #fff;
}
.plus-icon{
	background: #3199E8;
	border-radius: 50%;
	color:#fff;
	font-size: 20px!important;
}
.shop-cart{
	padding: 0 15px;
	height: 46px;
	line-height: 46px;
	position: fixed;
	bottom: 0;
	width:100%;
	background: rgba(0,0,0,0.5);
}
.shop-cart-l{
	color:#fff;
}
.shop-cart-r span{
	color:#fff;
}
.shop-cart-r button{
	vertical-align: middle;
	border: 0;
	margin-left: 5px;
}
.pj-t{
	display: flex;
	justify-content: space-around;
	background: #fff;
}
.pj-t .pj-t-l{
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	flex: 4;
	border-right: 1px solid #F0F0F0;
	padding: 10px;
}
.pj-t .pj-t-l h2{
	font-weight: normal;
}
.pj-t .pj-t-l p{
	font-size: 13px;
	margin-bottom: 0;
}
.pj-t .pj-t-r{
	flex: 7;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: center;
	padding: 10px;
}
.pj-t .pj-t-r span{
	font-size: 13px;
}
.pj-list{
	
}
.pj-list h5{
	padding: 10px;
}
.pj-list-div{
	padding: 10px;
	background: #fff;
	display: flex;
}
.pj-list-div-l{
	flex: 0 0 30px;
	margin-right: 5px;
}
.pj-list-div-l img{
	border-radius: 50%;
	vertical-align: top;
	width: 30px;
}
.pj-list-div-r{
	flex: 1;
	display: flex;
	flex-flow: column wrap;
}
.pj-list-div-r-t{
	display: flex;
}
.pj-list-div-r-t-l{
	flex: 1;
	width: 0;
}
.sj-div{
	background: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.sj-div-r{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}
.sj-div-m{
	display: flex;
	background: #fff;
	text-align: center;
}
.sj-div-m-div{
	flex: 1;
	padding: 10px;
}
/*商品详情*/
.detail-bar{
	/*background: transparent;*/
	box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}
.detail-div-t{
	padding: 10px;
	background: #fff;
}
.detail-div-t img{
	width: 100%;
}
/*评价*/
.pingjia-div-o img{
	width: 40px;
	border-radius: 50%;
}
.pingjia-div-o{
	padding: 10px;
	display: flex;
	background: #fff;
}
.pingjia-div-o h4{
	flex: 1;
	margin-left: 10px;
}
.pingjia-div-t-l{
	font-size: 14px;
}
.pingjia-div-t .wm-list-div-r-t-l{
	position: relative;
	top:-4px;
}
.pingjia-div-t .receive-time{
	padding: 0;
	position: static;
}
