<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">重置密码</h1>
		</header>
		<div class="mui-content">
			<div class="public-margin-top" id="reset-password">
				<form class="mui-input-group" action="javascript:;">
					<div class="mui-input-row">
						<input type="password" class="mui-input-clear" placeholder="设置新密码" v-model="pwd">
					</div>	<div class="mui-input-row">
						<input type="password" class="mui-input-clear" placeholder="再次输入密码" v-model="passwordC">
					</div>
				</form>
				<div class="public-margin-top" style="padding:0 15px">
					<button type="button" class="mui-btn mui-btn-success public-b-btn btn-block" @tap="handleResetPassword" :disabled="isDisable">确定</button>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/castapp.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/mui-ajax.js"></script>
		<script type="text/javascript">
			//()可填参数true(ios状态栏颜色为黑色文字),false(ios状态栏颜色为白色文字)
			castapp.init(false);
			var phone = '';
			var resetPassword = new Vue({
				el: '#reset-password',
				data: {
					pwd: "",
					passwordC: "",
					isDisable: false
				},
				methods: {
					handleResetPassword: function() {
						var _this = this;
						if(!_this.pwd) {
							mui.toast("密码不能为空");
						} else if(!(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/.test(_this.pwd))) {
							mui.toast("密码为6~16字母+数字");
						} else if(!_this.passwordC) {
							mui.toast("确认密码不能为空");
						} else if(!(_this.passwordC === _this.pwd)) {
							mui.toast("两次密码不一致");
						} else {
							_this.isDisable = true
							//验证验证码
							//请求参数
							var options = {
								url: '/reset/password',
								type: 'post',
								data: {
									'identifier': phone,
									'password': _this.pwd
								},
								successFn: _successValidateCode
							}
							muiRequest(options);
						}
					}
				}
			});
			//点击确定按钮的回调函数
			function _successValidateCode(data) {
				mui.toast(data.msg);
				resetPassword.isDisable =false;
				if(data.ret === 1) {
					//验证成功，发送注册请求
					mui.openWindow({
						id: 'login',
						url: 'login.html'
					});
				} else {
				}
			}
			
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				phone = self.phone;
				console.log(phone)
			});
		</script>
	</body>

</html>